/*---------------------
  Categories
-----------------------*/
.categories {
    padding-top: 90px;

    &.categories-grid {
        padding-top: 0;
        
        .categories__grid__post {
            border-top: 1px solid #ebebeb;
            padding-top: 50px;
        }
        
        .categories__post {
            padding-top: 0;
        }
    }
}

.categories__item {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &:hover {
        
        .categories__hover__text {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .categories__hover__text {
        background: $white-color;
        display: inline-block;
        padding: 15px 20px 10px;
        -webkit-transform: scale(0);
        transform: scale(0);
        @include transition(all, .3s);

        h5 {
            font-size: 20px;
            color: $heading-color;
            text-transform: uppercase;
        }

        p {
            color: #888888;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}

.categories__post {
    padding-top: 40px;
}

.categories__post__item {
    margin-bottom: 45px;

    &.categories__post__item--large {
        margin-bottom: 55px;
    
        .categories__post__item__pic {
            height: 533px;
        }

        .categories__post__item__text {

            .post__label--large {
                margin-bottom: 10px;
            }

            h3 {

                a {
                    font-size: 26px;
                    line-height: 34px;
                }
            }

            p {
                font-size: 15px;
                margin-bottom: 21px;
            }

            .post__social {
                margin-top: 25px;
        
                span {
                    font-size: 14px;
                    color: #888888;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-right: 25px;
                }
        
                a {
                    margin-right: 20px;
        
                    &:last-child {
                        margin-right: 0;
                    }
                    
                    i {
                        color: $heading-color;
                        margin-right: 5px;
                    }
        
                    span {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.categories__post__item__pic {
    position: relative;
    margin-bottom: 25px;
    height: 506px;

    &.small__item {
        height: 253px;
    }

    &.smaller__large {
        height: 380px;
    }

    .post__meta {
        background: $white-color;
        display: inline-block;
        height: 65px;
        width: 65px;
        text-align: center;
        padding-top: 18px;
        position: absolute;
        left: 20px;
        top: 20px;

        h4 {
            font-size: 26px;
            color: $heading-color;
            font-weight: 900;
            line-height: 14px;
            font-family: $fm-nunito;
        }

        span {
            font-size: 12px;
            color: #888888;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.categories__post__item__text {
    text-align: center;

    .post__label--large {

        li {
            list-style: none;
            display: inline-block;
            margin-right: 18px;
            color: $primary-color;
            font-size: 12px;
            text-transform: uppercase;
            position: relative;
            font-weight: 700;

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }

            &:after {
                position: absolute;
                right: -14px;
                top: -2px;            
                content: "|";
                color: #cccccc;
            }
        }
    }

    .post__label {
        font-size: 12px;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
    }

    h3 {
        margin-bottom: 5px;

         a {
            color: $heading-color;
            line-height: 29px;
            letter-spacing: .5px;
            font-size: 22px;
            display: block;

            &:hover {
                text-decoration: underline;
            }
         }
    }

    .post__widget {
        margin-bottom: 10px;
    
        li {
            list-style: none;
            display: inline-block;
            margin-right: 25px;
            font-size: 12px;
            color: #888888;
            position: relative;

            span {
                color: $heading-color;
            }

            &:after {
                position: absolute;
                right: -18px;
                top: -1px;
                content: "|";
                color: #cccccc;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 21px;
    }
}

.categories__post__item__small {
    background: #f5f5f5;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    position: relative;
    padding-top: 60px;
    margin-bottom: 60px;

    img {
        position: absolute;
        left: 30px;
        top: 30px;
    }

    p {
        font-size: 15px;
        color: #000000;
        letter-spacing: .5px;
        font-weight: 600;
    }

    .posted__by {
        font-size: 15px;
        color: $primary-color;
        font-weight: 600;
        text-align: right;
    }
}

.categories__post__item__plain {
    height: 506px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    &:after {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #000000;
        content: "";
        opacity: .6;
        z-index: -1;
    }

    .post__meta {
        background: rgba(0, 0, 0, 0.3);
        display: inline-block;
        height: 65px;
        width: 65px;
        text-align: center;
        padding-top: 18px;

        h4 {
            font-size: 26px;
            color: $white-color;
            font-weight: 900;
            line-height: 14px;
            font-family: $fm-nunito;
        }

        span {
            font-size: 12px;
            color: $white-color;
            font-weight: 600;
            opacity: .5;
            text-transform: uppercase;
        }
    }

    .categories__post__item__text {

        ul {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        h3 {

            a {
                color: $white-color;
            }
        }
    }

    .post__social {
        margin-top: 10px;

        span {
            font-size: 14px;
            color: $white-color;
            opacity: .5;
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 25px;
        }

        a {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
            
            i {
                color: $white-color;
                opacity: .7;
                margin-right: 5px;
            }

            span {
                margin-right: 0;
            }
        }
    }
}

.load__more__btn {

    a {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: $heading-color;
        text-transform: uppercase;
        padding: 12px 125px 10px;
        background: #ebebeb;
    }
}

/*---------------------
  Categories Grid
-----------------------*/
.breadcrumb__text {
    margin-bottom: 46px;

    h2 {
        color: $black-color;
        margin-bottom: 5px;

        span {
            color: $primary-color;
        }
    }

    .breadcrumb__option {

        a {
            display: inline-block;
            font-size: 16px;
            color: $heading-color;
            margin-right: 14px;
            position: relative;

            &:after {
                position: absolute;
                right: -12px;
                top: 0;
                content: '/';
            }
        }

        span {
            font-size: 16px;
            color: #888888;
        }
    }
}

/*---------------------
  Categories Grid
-----------------------*/
.categories__list__post__item {
    margin-bottom: 50px;

    .categories__post__item__pic {
        height: 253px;
        margin-bottom: 0;
    }

    .categories__post__item__text {
        text-align: left;
    }
}

.categories__pagination {

    a {
        display: inline-block;
        background: #f2f2f2;
        color: #444444;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 12px 18px 10px;
        margin-right: 6px;
        @include transition(all, .3s);

        &:hover {
            color: $white-color;
            background: $primary-color;
        }

        &:last-child {
            color: $primary-color;
            margin-right: 0;

            &:hover {
                color: $white-color;
            }
        }
    }
}