$primary-color: #f4952f;
$seconday-color: #120851;
$white-color: #ffffff;
$heading-color: #111111;
$para-color: #6e6e6e;
$black-color: #000000;

$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;