{% load menu_tags social_tags cache %}

{% cache 5000 left_nav %}
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="/"><img src="img/humberger/humberger-logo.png" alt=""></a>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li><a href="/">Главная</a></li>
      {% get_categories %}
      <li><a href="{% url 'about' %}">О нас</a></li>
      <li><a href="{% url 'contact' %}">Контакты</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>

  <div class="humberger__menu__about">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>About me</h6>
    </div>
    {% get_about as about %}
    <img src="{{ about.get_first_image}}" alt="">
    {{ about.mini_text|safe }}
    <div class="humberger__menu__about__social sidebar__item__follow__links">
      {% get_social_links as social_links %}
      {% for item in social_links %}
        <a href="{{ item.link }}"><img class="contact_icon" src="{{ item.icon.url }}"></a>
      {% endfor %}
    </div>
  </div>

  <div class="humberger__menu__subscribe">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>Subscribe</h6>
    </div>
    <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
    <form action="#">
      <input type="text" class="email-input" placeholder="Your email">
      <label for="agree-check">
        I agree to the terms & conditions
        <input type="checkbox" id="agree-check">
        <span class="checkmark"></span>
      </label>
      <button type="submit" class="site-btn">Subscribe</button>
    </form>
  </div>
</div>
{% endcache %}
