{% load menu_tags %}

<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="/"><img src="img/humberger/humberger-logo.png" alt=""></a>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li><a href="/">Главная</a></li>
      {% get_categories %}
      <li><a href="./about.html">О нас</a></li>
      <li><a href="./contact.html">Контакты</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="humberger__menu__about">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>About me</h6>
    </div>
    <img src="img/humberger/humberger-about.jpg" alt="">
    <h6>Hi every one! I,m Lena Mollein.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
      dolore magna aliqua.</p>
    <div class="humberger__menu__about__social sidebar__item__follow__links">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
  <div class="humberger__menu__subscribe">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>Subscribe</h6>
    </div>
    <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
    <form action="#">
      <input type="text" class="email-input" placeholder="Your email">
      <label for="agree-check">
        I agree to the terms & conditions
        <input type="checkbox" id="agree-check">
        <span class="checkmark"></span>
      </label>
      <button type="submit" class="site-btn">Subscribe</button>
    </form>
  </div>
</div>
