{% extends 'base.html' %}
{% load social_tags %}
{% block content %}

<section class="about spad">
  <div class="container">
    <div class="about__text">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h2>About me</h2>
            <div class="breadcrumb__option">
              <a href="#">Home</a>
              <span>About</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="about__pic__item__large">
            <img src="{{ about.get_first_image}}" alt="">
          </div>
          <div class="about__pic">
            {% for item in about.get_images %}
              <div class="about__pic__item">
                <img src="{{ item.image.url }}" alt="{{ item.alt }}">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about__right__text">
            {{ about.text|safe }}
            <div class="about__right__text__social">
              {% get_social_links as social_links %}
              {% for item in social_links %}
                <a href="{{ item.link }}"><img src="{{ item.icon.url }}"></a>
              {% endfor %}
                


{#              <a href="#"><i class="fa fa-twitter"></i></a>#}
{#              <a href="#"><i class="fa fa-youtube-play"></i></a>#}
{#              <a href="#"><i class="fa fa-instagram"></i></a>#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
