{% load static social_tags cache %}

{% cache 5000 footer %}
<footer class="footer">
  <div class="container-fluid">
    <div class="footer__instagram">
      <div class="footer__instagram__avatar">
        <div class="footer__instagram__avatar--pic">
          <img src="{% static 'img/footer/instagram-avatar.jpg' %}" alt="">
        </div>
        <div class="footer__instagram__avatar--text">
          <h5>@ foodieblog</h5>
          <span>23,7k follower</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="footer__instagram__item set-bg" data-setbg="{% static 'img/footer/ip-1.jpg' %}"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="footer__instagram__item set-bg" data-setbg="{% static 'img/footer/ip-2.jpg' %}"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="footer__instagram__item set-bg" data-setbg="{% static 'img/footer/ip-3.jpg' %}"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="footer__instagram__item set-bg" data-setbg="{% static 'img/footer/ip-4.jpg' %}"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="footer__instagram__item set-bg" data-setbg="{% static 'img/footer/ip-5.jpg' %}"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="footer__instagram__item set-bg" data-setbg="{% static 'img/footer/ip-6.jpg' %}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__text">
          <div class="footer__logo">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut<br/> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
            commodo viverra<br/> maecenas accumsan lacus vel facilisis. </p>
          <div class="footer__social">
              {% get_social_links as social_links %}
              {% for item in social_links %}
                <a href="{{ item.link }}"><img src="{{ item.icon.url }}"></a>
              {% endfor %}
          </div>
        </div>
        <div class="footer__copyright">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                aria-hidden="true"></i> by <a
                href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
{% endcache %}
